# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDEs
.vscode/
.idea/

# PyCharm
*.iml

# Jupyter
.ipynb_checkpoints/

# Build / dist
build/
dist/
*.egg-info/

# Mongo local dumps (if any)
dump/

# Node (if you later add frontend)
node_modules/

temp_scripts/

markdown_files/

data/

data_test/

data_qg/

evaluation/